$font-family:         'Jost', sans-serif;

// Font weights
$fw-regular:          400;
$fw-semibold:         600;
$fw-bold:             700;

// Font sizes
$fs-h1:               24px;
$fs-h2:               20px;
$fs-h3:               18px;
$fs-h4:               14px;

$fs-body-1:           16px;
$fs-body-2:           15px;
$fs-body-3:           13px;

// Line heights
$lh-h1:               35px;
$lh-h2:               29px;
$lh-h3:               26px;
$lh-h4:               20px;

$lh-body-1:           23px;
$lh-body-2:           22px;
$lh-body-3:           19px;

// Letter spacing
$ls-h1:               -0.33px;
$ls-h2:               -0.25px;
$ls-h3:               -0.25px;
$ls-h4:               -0.2px;