// Primary
$color-purple:        #AD1FEA;
$color-blue:          #4661E6;
$color-navy:          #4661E6; 

// Neutral
$color-white:         #FFFFFF;
$color-light-gray:    #F2F4FF;
$color-pale-gray:     #F7F8FD;
$color-dark-navy:     #3A4374;
$color-slate:         #647196;

// Accent
$color-salmon:        #F49F85;
$color-sky-blue:      #62BCFA;