.rect {
    stroke-width: 5;
    stroke: aqua;
    fill: red;
}

ellipse {
    stroke-width: 5;
    stroke: blue;
    fill: green;
}

.rect2 {
    stroke-width: 5;
    stroke: darkmagenta;
    fill: greenyellow;
}

circle {
    stroke-width: 5;
    stroke: purple;
    fill: aqua;

}
