body {
   background-color: #120D1F;
   color: #FFFFFF;
}

.conteiner {
   display: grid;
   grid-template-columns: 150px 1fr;
   grid-template-rows: 80px 1fr 90px;
   gap: 16px;
   max-width: 800px;
   margin: 0 auto;
   grid-template-areas:
   "header header"
   "sidebar main"
   "footer footer";

}

.name-header {
   margin: 15px 15px;
}

.header-avatar {
   display: flex;
   align-items: center;
   gap: 15px;
   margin: 15px;
}

.images-header {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   align-items: center;
}

.header {
   display: flex;
   background-color: #7B2FF7;
   grid-area: header;
   height: 100px;
   position: sticky;
   justify-content: space-between;

   .logo {
      display: flex;
      font-size: 25px;
      color: #2D1B45;
      align-items: center;
   }


}

.aside {
   background-color: #241734;
   grid-area: sidebar;
}

.main {
   background-color: #2D1B45;
   grid-area: main;
}

.footer {
   background-color: #F72585;
   grid-area: footer;
}

button {
   width: 70px;
   height: 40px;
   background-color: #8a2be2;
   color: #fff;
   border: 1px solid black;
   gap: 10px;
   cursor: pointer;
   border-radius: 8px;


}


.footer p {
   text-align: center;
}

button-footer {
   gap: 15px;
}
