
h1{
    color: rgb(204, 20, 204);
    font-size: 32px;
    text-align: center;
    
}
h2 {color: black;
    text-align: center;
}
.catalog {
    background-color: #7ffd7f;
    color: blue;
    width: 100px;
    
    
}
button {
    cursor: pointer;
    background-color: #121212;
    color: #fff;
}
.back {
    cursor: pointer;
    border: 5px solid #414141;
    margin-right: 30px;
}

.paragraf {color: rgb(204, 20, 204);
    text-align: center;
    border: 5px solid #121212;
    padding:0px;
    background-color: #fff;
    
    

 }
 body {
    background-color: burlywood;
    font-family: 'Black Ops One' ;
 }
 
 .next {
    cursor: pointer;
    color: #454545;
    padding: 5px 8px;
 }

 .IMAGE {
    width: 200px;
    height: 200px;
  
 }

 .catalog i {
    color: #00FFFF;
 }
 .catalog em {
    color: #BC13FE;
 }
 
 .LINK {
    text-decoration: none;

 }
 
 .LINK:hover {
    color:#00FFFF;

 }

 .regback {
   text-decoration: none;

 }

 button i {
   cursor: pointer;
   background-color: #7ffd7f;
   color: #121212
   

 }

 a:active {
   color: #00FFFF
 }
 
 a {
   color: #949494
 }

 a:visited {
   color: #ff0000
 }
 
 span { 
   color: #674067
 }